.red{
    background-color: red;
}
:root{
    --standardFont: Arial, Helvetica, sans-serif;
    --color1: rgb(5, 5, 23);
    --color2: rgb(111, 146, 131);
    --color3: rgb(99, 105, 209);
    --color4: rgb(251, 255, 241);
    --color5: rgb(244, 227, 178);
    --title: 25px;
    --barPercent1:100%;
    --barPercent2:80%;
    --barPercent3:60%;
    --barPercent4:40%;
    --barPercent5:20%;
  }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 
main{
    font-family: var(--standardFont);
    color: var(--color5);
    background-color: var(--color4); 
}
nav{
    padding: 30px 20px;
    justify-content:space-between;
    text-align: center;
    text-justify: auto;
    background-color: var(--color1);
    width: 100%;
}
section{
    width: 100%;
    height: 100%;
    min-width: 300px;
}
ul{
   list-style: none;
   justify-content:space-around;
}
footer{
    padding: 50px 20px;
    justify-content:space-between;
    text-align: center;
    text-justify: auto;
    background-color: var(--color1);
}
footer div > ul > li{
    font-size: 12px;
}
footer div ul{
    margin: 10px 0;
}
.socialLogos img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.socialLogos img:hover{
    filter: brightness(40%);
}
.flexContainerRow{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.flexContainerColumn{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.justifyCenter{
    justify-content: center;
    text-align: center;
}
.alignCenter{
    align-items: center;
    text-justify: auto;
}
.alignTextRight{
    text-align: right;
}
.alignTextLeft{
  text-align: left;
}
.spaceBetween{
    justify-content: space-between;
    height: 100%;
}
.spaceAround{
    justify-content: space-around;
}
.flexStart{
    justify-content: flex-start;
}
.title{
    font-size: var(--title);
    border-left: 5px solid var(--color3);
    padding-left: 10px;
    margin-top: 30px;

}
.subTitle{
    border-bottom: 4px solid var(--color2);
    padding-bottom: 5px;
    margin: 100px 0;
}
.banner{
    min-width: 100px;
    max-width: 100%;
    background: url("./images/banner.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 3px 3px 10px var(--color1);
    height: 550px;
}
.bannerTitle{
    text-shadow: 1px 1px 1px var(--color1);
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.438);
}
.bannerText{
    width: 90%;
    text-shadow: 2px 3px 3px var(--color1);
    padding: 7px 15px;
    margin:auto;
    border-left: 5px solid var(--color3);
    text-align: start;
}
.bannerText h1 > span{
    font-size: 60px;
}
.photo{
    max-height: 400px;
    max-width: 300px;
}
.aboutMeSection, .knowledgesSection{
    padding: 50px 20px;
    max-width: 1150px;
    margin: auto;
    color: var(--color1);
    border-bottom: 1px solid var(--color1);
}
.aboutMe{
    margin: 50px 0;
    display: flex;
    flex-direction: row;
}
.aboutMeText{
    margin-left: 40px;
    line-height: 30px;
}
.aboutMeText p{
    color: var(--color2);
    text-decoration: none;
}
.aboutMeInfo{
    margin-top: 30px;
}
.aboutMeInfo div{
    display: flex;
    flex-direction: row;
    max-width: 500px;
    border-bottom: 2px solid var(--color3);
    padding: 5px;
}
.aboutMeInfo div p{
    margin-left: 5px;
}
.aboutMeInfo div p a{
    text-decoration: none;
    color: var(--color2);
}
.knowledMe{
    margin-top: 50px;
}
.knowledMe div{
    margin: 15px 0;
}
.knowledMe h4{
    padding-left: 5px;
    border-left: 3px solid var(--color2);
}
.progressBarContainer{
    height: 7px;
    background-color: var(--color5);
    max-width: 500px;
}
.progressBarContainer .progressBar{
    height: 100%;
    background-color: var(--color3);
}
.progress1{
    animation: prog1 3s infinite;
}
@keyframes prog1{
    0%{width:0%;}
    100%{width: var(--barPercent1);}
}
.progress2{
    animation: prog2 3s infinite;
}
@keyframes prog2{
    0%{width:0%;}
    100%{width: var(--barPercent2);}
}
.progress3{
    animation: prog3 3s infinite;
}
@keyframes prog3{
    0%{width:0%;}
    100%{width: var(--barPercent3);}
}
.progress4{
    animation: prog4 3s infinite;
}
@keyframes prog4{
    0%{width:0%;}
    100%{width: var(--barPercent4);}
}
.progress5{
    animation: prog5 3s infinite;
}
@keyframes prog5{
    0%{width:0%;}
    100%{width: var(--barPercent5);}
}